---
import Header from '../components/Header.astro';

import Footer from '../components/Footer.astro';
---

<Header />



<p class="text-center mt-4">
	Hi, I'm <strong>Santosh</strong>, a web developer from <strong>Nepal</strong>.
	```
</p>

<Footer />