---
import HeaderLink from './HeaderLink.astro';

---

<header class=" text-center">
	
		<div class="top-section my-4 space-y-4 lg:flex items-center justify-center gap-6">
			<div class="header-frame grid place-content-center">
				<h1 class=" text-[1.7rem] text-left">Santosh Yadav</h1>
				<h2 class="text-gray-400 text-xl w-[18ch] text-left">Software engineer in Nepal</h2>
			</div>
			<div class=" grid place-content-center">
				<img class="block w-[100%] max-w-[300px]  rounded-full  " id="propic" src="/profile.JPG" alt="">
				
			</div>
		</div>
	
	
	<nav class="flex gap-3 justify-center text-xl">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blogs">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		
	</nav>
</header>

