---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
const { title, pubDate, description, image } = frontmatter;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <Header />

    <main>
      <h1 class="px-4">{title}</h1>
      <p class="opacity-50 px-4">{pubDate}</p>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen,
      Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  }
  main {
    

    width: clamp(300px, 60%, 80%);
    margin: 0 auto;
    padding: 1rem;
  }
  main h1 {
    color: black;
    font-size: 2rem;
    font-weight: 700;
  }
  main img {
    width: 100%;
    border-radius: 1em;
    margin: 1em 0;
  }
  main p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
  }
</style>
